@font-face {
  font-family: 'Roboto';
  src: url('/font/ofont.ru_Roboto Slab.ttf') format('truetype');
}

html {
  width: 100vw;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcfcf4;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fcfcf4;
}

::-webkit-scrollbar-track {
  background-color: #14141c;
}

::-webkit-scrollbar-corner {
  background-color: #14141c;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

canvas {
  position: fixed;
}

/* Controler Start */

#toggle {
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: calc(5vh - 5px);
  right: calc(5vh - 5px);
  width: 70px;
  height: 70px;
  color: white;
  background-color: #14141c;
  border-radius: 12px;
  border: 1px solid #a6907b;
  font-size: 16px;
  padding: 10px 16px;
  transition-duration: .3s;
}

#toggle:hover {
  background-color: #3a6f38;
  border: 1px solid #3a6f38;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#toggle:active {
  background-color: white;
}

/* Controler Start */

/* Introdaction Start */

.introdaction {
  background-color: #fcfcf4;
  height: 100vh;
  display: flex;
  align-items: center;
}

.introdaction img {
  z-index: 99;
  box-shadow: 19px 16px 9px 1px #3c342c88;
  border-radius: 12px;
  width: 70vh;
  height: 70vh;
  position: absolute;
  top: calc(50vh - 35vh);
  right: calc(50vw - 35vh - 25vw);
}

.text_container {
  text-align: justify;
  width: 600px;
}

.introdaction .title {
  font-size: 50px;
  margin-bottom: 30px;
}

.introdaction .line {
  height: 1px;
  background-color: #a6907b;
  width: 100%;
  margin-bottom: 20px;
}

.introdaction .line_vertical {
  z-index: 0;
  position: absolute;
  width: 41vw;
  height: 100vh;
  background-color: #a6907b;
  right: -1vw;
  top: 0;
}

.introdaction .text {
  font-size: 20px;
  margin-bottom: 40px;
}

.introdaction button {
  cursor: pointer;
  color: white;
  background-color: #14141c;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 26px;
  padding: 10px 20px 13px;
  transition-duration: .3s;
}

.introdaction button:hover {
  background-color: #3a6f38;
}

/* Introdaction End */

/* Tree Start */

.tree {
  display: flex;
  flex-direction: column;
  background-color: #a6907b;
}

.tree_image {
  margin-top: 80px;
  margin-left: 20px;
  position: absolute;
  height: 1700px;
  overflow: hidden;
}

.tree .title {
  box-sizing: border-box;
  width: 100vw;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0;
  background-color: #14141c;
}

.content {
  box-sizing: border-box;
  display: flex;
}

.tree_container {
  background-color: #a6907b;
  width: 60vw;
}

.tree .item {
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: right;
  height: 500px;
}

.tree .left {
  justify-content: left;
}

.tree .item .text {
  padding: 20px;
  background-color: #14141caa;
  border-radius: 16px;
  border: 5px solid #14141c;
  z-index: 99;
  width: 25vw;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.tree .item .text:hover {
  padding: 40px 20px;
}

.tree .item .text div {
  height: 1px;
  background-color: #fcfcf4;
  width: 100%;
  margin-bottom: 20px;
}

.tree .item .text h2 {
  font-size: 26px;
  color: #fcfcf4;
  margin-bottom: 10px;
}

.tree .item .text p {
  text-align: justify;
  color: #fcfcf4;
  font-size: 20px;
  font-weight: 600;
}

.tree .image {
  width: 100%;
  height: auto;
}

.tree .images_container {
  border-left: 8px solid #14141c;
  gap: 6px;
  background-color: #14141c;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.tree .image {}

.tree .image_1 {
  background: url("../img/tree/msg1854385734-164777.jpg");
  background-position: 42% 40%;
  grid-row: 1 / 9;
  grid-column: 1 / 6;
}

.tree .image_2 {
  background: url("../img/tree/msg1854385734-164648.jpg");
  background-size: cover;
  grid-row: 1 / 5;
  grid-column: 6 / 13;
}

.tree .image_3 {
  background: url("../img/tree/182893937_1386372801743460_28011.jpg");
  background-size: cover;
  grid-row: 5 / 10;
  grid-column: 6 / 13;
}

.tree .image_4 {
  background: url("../img/tree/msg1854385734-164778.jpg");
  background-size: cover;
  background-position: 25%;
  grid-row: 9 / 14;
  grid-column: 1 / 6;
}

.tree .image_5 {
  background: url("../img/tree/msg1854385734-164774.jpg");
  background-size: cover;
  background-position: 32% 10%;
  grid-row: 10 / 15;
  grid-column: 6 / 9;
}

.tree .image_6 {
  background: url("../img/tree/msg1854385734-164768.jpg");
  background-size: cover;
  grid-row: 10 / 17;
  grid-column: 9 / 13;
}

.tree .image_7 {
  background: url("../img/tree/msg1854385734-164770.jpg");
  background-size: 200%;
  background-position: 45% 25%;
  grid-row: 15 / 19;
  grid-column: 6 / 9;
}

.tree .image_8 {
  background: url("../img/tree/msg1854385734-164769.jpg");
  background-size: 180%;
  background-position: 40% 40%;
  grid-row: 17 / 25;
  grid-column: 9 / 13;
}

.tree .image_9 {
  background: url("../img/tree/msg1854385734-164773.jpg");
  background-size: cover;
  background-position: 24% 0;
  grid-row: 14 / 19;
  grid-column: 1 / 4;
}

.tree .image_10 {
  background: url("../img/tree/msg1854385734-164761.jpg");
  background-size: 200%;
  background-position: 60% 65%;
  grid-row: 14 / 19;
  grid-column: 4 / 6;
}

.tree .image_11 {
  background: url("../img/tree/msg1854385734-164979.jpg");
  background-size: cover;
  background-position: 0 20%;
  grid-row: 19 / 25;
  grid-column: 1 / 9;
}

/* Tree End */

/* Massages Start */

.messages {
  background-color: #fcfcf4;
}

.messages .title {
  box-sizing: border-box;
  width: 100vw;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0;
  background-color: #14141c;
}


.messages_container {
  background-image: url(../img/background3.jpg);
  background-position: center center;
  background-size: 100% 200%;
  background-position: 0 100%;
  padding: 30px calc(10vh + 60px) 30px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message {
  z-index: 99;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #32323d;
  border-radius: 16px;
  margin-bottom: 20px;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.message:hover {
  background-color: #14141c;
}

.messages .icon_part {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #a6907b;
  position: relative;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.messages .icon {
  cursor: default;
  position: absolute;
  font-size: 40px;
}

.messages .text {
  padding: 20px 0;
}

.messages .text p {
  text-align: justify;
  width: calc(60vw - 150px - 60px);
  font-size: 16px;
  color: #fcfcf4;
}

.messages .name {
  box-sizing: border-box;
  height: 100%;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  margin-left: 60px;
  background-color: #14141c;
  width: calc(40vw - 10vh - 90px);
  color: #fcfcf4;
}

/* Massages End */

/* Stats Start */

.stats {
  background-color: #a6907b;
  background-image: url(../img/background.jpg);
  background-size: contain;
}

.stats .title {
  box-sizing: border-box;
  width: 100vw;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0;
  text-align: center;
  background-color: #14141c;
}

.stats .container {
  padding: 40px 0 60px;
  display: flex;
  justify-content: space-between;
}

.stats .card {
  box-sizing: border-box;
  flex-direction: column;
  width: 24vw;
  padding: 20px 40px 0;
  line-height: 30px;
  background-color: #14141c;
  border-radius: 16px;
  height: 220px;
  display: flex;
  align-items: center;
  color: #fcfcf4;
  font-size: 22px;
  justify-content: center;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.stats .card:hover {
  background-color: #3a6f38;
}

.stats .res {
  font-size: 22px;
  margin-top: 20px;
  background-color: #32323d;
  border-radius: 8px;
  padding: 8px 16px;
}

/* Stats End */